/* FROM https://stackoverflow.com/a/48443088/12252592 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
}

.page {
  width: 80%;
  margin: auto;
}

@media (max-width: 850px) {
  .page {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .page {
    width: 100%;
  }

  .watchlistTable th {
    padding: 0.5rem;
  }

  .watchlistTable input {
    width: 70px;
  }
}
